<!DOCTYPE html>
<html>
<head>
	<title>VB</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/style/app.css">

</head>
<body>
	<div class="ui secondary inverted menu">
  <a class="active item">
	  <i class="telegram plane icon"></i>
    VB
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>